#bg_dialog{
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 5;
	display:none;
}
#tempat_box_dialog{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	z-index: 6;
	display: none;
}

.box_dialog{
	background-color: #fff;
	border-radius: 10px;
	border: 7px solid #9A9A8E;
	width:500px;
	margin: 0 auto;
}

.wrap_text{
	padding:40px 30px;
	font-size: 18px;
	text-align: center;
}

.btn_tidak_dialog{
	width: 50%;
	text-align: center;
	background-color: #E74C3B;
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	padding: 20px 0;
	float: left;
	cursor: pointer;
	transition:all .20s ease-in-out;
}
.btn_tidak_dialog:hover{
	background-color: #D43624;
}
.btn_ya_dialog{
	width: 50%;
	text-align: center;
	background-color: #03A5D9;
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	padding: 20px 0;
	float: left;
	cursor: pointer;
	transition:all .20s ease-in-out;
}
.btn_ya_dialog:hover{
	background-color: #0086D9;
}

.input_pass_dialog{
	padding: 15px;
	font-size: 20px;
	color: #999;
	border-radius: 5px 0 0 5px;
	border: solid 2px #ddd;
	background-color: #eee;
	width: 70%;
	margin:0;
}
.btn_submit_dialog{
	border-radius: 0 5px 5px 0;
	background-color: #03A5D9;
	color: #fff;
	font-size: 20px;
	padding: 15px 0;
	width: 21%;
	border: solid 2px #028AB8;
	font-weight: bold;
	margin:0;
	cursor: pointer;
	transition:all .20s ease-in-out;
}
.btn_submit_dialog:hover{
	background-color: #0086D9;
}